@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Raleway:wght@200;300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* VARIABLES */
  --primary: #F4DC0A;
  --secondary: #495F1D;
  --tertiary: #A1AA34;
  --text-color: #747474;
  --text-color2: #C2C674;
  --footer-color:  #EFEED9;
  --card-bcgr: #FAF9F5;
  --light: #fff;
  --dark: #000;
  /* FONTS */
  --main-font: 'Playfair Display', serif;
  --text-font: 'Raleway', sans-serif;
  /* TRANSITION */
  --transition: .3s linear;

}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--text-font);
  color: var(--text-color);
}

img {
  max-width: 100%;
}

h1 {
  color: var(--light);
}

h2, h3, h4, h5, h6 {
  font-family: var(--main-font);
  color: var(--secondary);
}
/* CLASSES */
.my-btn {
  padding: 16px 87px;
  background-color: var(--primary);
  color: var(--secondary);
  border: 2px solid var(--primary);
  transition: var(--transition);
  text-transform: uppercase;
  font-weight: bold;
}

.my-btn:hover {
  cursor: pointer;
  background: transparent;
  color: var(--light);
}


